* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* ______ PHAN HEADER ______ */
header {
  height: 120px;
  background-color: #fff;
  padding: 0 100px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
header .logo img {
  width: 200px;
  position: relative;
  bottom: 42px;
}
header .toolbar {
  padding-top: 40px;
  display: flex;
}
.toolbar .menu .nav {
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
}
.toolbar .menu .nav li h3 {
  font-size: 14px;
  padding: 0 11px;
  color: #000;
}
.toolbar .menu .nav li a > i {
  font-size: 20px;
  padding: 0 11px;
  color: #000;
}
.toolbar .menu .nav li i {
  font-size: 12px;
}

.toolbar .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav > li > a {
  text-transform: uppercase;
}
.nav li:hover .subnav {
  display: block;
}

.nav .subnav {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  top: 60px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: none;
}
.nav .subnav li {
  padding: 10px 10px;
  font-size: 16px;
}
.nav .subnav li:nth-child(2) {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.nav .subnav li a {
  color: rgb(99, 99, 99);
  line-height: 20px;
}

.search .input input {
  padding: 12px 0px;
  padding-left: 4px;
  width: 170px;
  border: none;
  border-bottom: 1px solid #000;
  margin-left: 11px;
}
.search .icon {
  position: relative;
  right: 24px;
}
.search .icon i {
  color: #000;
}

/* _______Phan banner1 _________ */

.banner1-message1 {
  height: 730px;

  padding: 100px;
  text-align: center;
  background-image: url(./image/banner/banner1/ACOFOP_DJI_0087_community-forest-watch-tower_web.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner1-message1 h3,
.banner1-message1 h4,
.banner1-message1 p,
.banner1-message1 a {
  color: #fff;
}
.banner1-message1 h3 {
  font-size: 24px;
  font-weight: 650;
  padding-top: 16px;
}
.banner1-message1 h4 {
  padding: 16px 0;
  font-size: 16px;
  line-height: 19.2px;
}
.banner1-message1 p {
  padding-bottom: 36px;
  font-size: 16px;
  line-height: 25.6px;
}
.banner1-message1 a {
  border: 1px solid #fff;
  padding: 12px 20px;
  width: 200px;
  font-size: 16px;
}
.banner1-message1 a:hover {
  background-color: #fff;
  color: #000;
}

/* _______Phan banner2 _______ */
.banner2 {
  padding: 200px 100px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.banner2-left {
  width: 630px;
  height: 630px;
  background-image: url(./image/banner/banner2/441872154_865078958977124_2387434008734680363_n.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.circle {
  width: 436px;
  height: 436px;
  border: 10px solid #fff;
  border-radius: 50%;
  text-align: center;
  padding: 110px 50px;
  position: relative;
  top: 95px;
  left: 92px;
  text-transform: uppercase;
}
.circle h3,
.circle p {
  color: #fff;
}
.circle h3 {
  font-size: 36px;
  padding-bottom: 16px;
  border-bottom: 2px solid #fff;
  line-height: 36px;
}
.circle p {
  font-size: 32px;
  padding-top: 16px;
  line-height: 48px;
}

.banner2-right img {
  width: 630px;
}

/* ______Phan banner 3 ______ */
.banner3 {
  display: flex;
  justify-content: space-between;
  padding-right: 80px;
  gap: 80px;
  position: relative;
}
.banner3 img {
  width: 1130px;
}
.banner3 p {
  font-size: 16px;
  line-height: 25.6px;
  position: absolute;
  bottom: 10px;
  right: 80px;
}

/* ______Phan banner4______ */
.banner4 {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 200px 80px 200px;
  position: relative;
}
.banner4 img {
  width: 1000px;
}
.banner4 .text {
  padding-top: 80px;
  text-align: right;
}

.banner4 .text h3 {
  font-size: 27.2px;
  line-height: 35.36px;
  padding-bottom: 15px;
}
.banner4 .text p {
  font-size: 16px;
  line-height: 25.6px;
  padding-bottom: 32px;
}
.banner4 .text a {
  font-size: 15.52px;
  line-height: 24.832px;
  padding: 16px 20px;
  background: #000;
  color: #fff;
  margin-right: 50px;
}

/* _______Footer______ */
footer {
  background-color: #aaaba9;
  padding: 50px 0px;
  padding-left: 100px;
  display: flex;
  gap: 300px;
  align-items: center;
}
footer .left p {
  color: #000;
  text-transform: uppercase;
  padding-bottom: 20px;
}
footer .left p:last-child {
  padding-bottom: 0;
}
footer .left p:hover,
footer .left li:hover {
  font-weight: 700;
}
footer .left-menu {
  padding-left: 20px;
  padding-bottom: 10px;
}
footer .left-menu p {
  padding-bottom: 10px;
}
footer .left-menu a {
  color: #000;
  font-size: 16px;
  line-height: 25.6px;
  text-transform: uppercase;
}
footer .right {
  display: flex;
  align-items: center;
  gap: 50px;
}
footer .right p {
  font-size: 16px;
  line-height: 25.6px;
}
footer .right-image {
  padding-bottom: 30px;
}
