* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* ______ PHAN HEADER ______ */
header {
  height: 120px;
  background-color: #fff;
  padding: 0 100px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
header .logo img {
  width: 200px;
  position: relative;
  bottom: 42px;
}
header .toolbar {
  padding-top: 40px;
  display: flex;
}
.toolbar .menu .nav {
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
}
.toolbar .menu .nav li h3 {
  font-size: 14px;
  padding: 0 11px;
  color: #000;
}
.toolbar .menu .nav li a > i {
  font-size: 20px;
  padding: 0 11px;
  color: #000;
}
.toolbar .menu .nav li i {
  font-size: 12px;
}

.toolbar .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav li:hover .subnav {
  display: block;
}

.nav .subnav {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  top: 60px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: none;
}
.nav .subnav li {
  padding: 10px 10px;
  font-size: 16px;
}
.nav .subnav li:nth-child(2) {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.nav .subnav li a {
  color: rgb(99, 99, 99);
  line-height: 20px;
}

.search .input input {
  padding: 12px 0px;
  padding-left: 4px;
  width: 170px;
  border: none;
  border-bottom: 1px solid #000;
  margin-left: 11px;
}
.search .icon {
  position: relative;
  right: 24px;
}
.search .icon i {
  color: #000;
}

/* _____Phan banner_____ */
.banner {
  height: 800px;
  width: 100%;
  background-image: url(./img/banner/tropical-chau-cay-canh-5-1200x800.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner img {
  width: 100%;
  position: relative;
  top: 430px;
}
/* _____Phan product_____ */
.products {
  padding: 100px 120px 0 100px;
}
.product-tree {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.list-product > p {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 48px;
  border-bottom: 1px solid #ccc;
  font-weight: 400;
  padding-bottom: 10px;
}
.product-tree1 {
  width: 400px;
  height: 600px;
}
.product-tree1 img {
  width: 100%;
}
.product-tree1 .text {
  padding-top: 16px;
}
.product-tree1 .price,
.product-tree1 .link {
  display: flex;
  justify-content: space-between;
}
.product-tree1 .price {
  padding: 16px 0;
  border-top: 1px solid #ccc;
}
.product-tree1 .link a {
  padding: 10px 16px;
  border: 1px solid #000;
  color: #000;
  font-size: 12.8px;
  line-height: 20.48px;
}
.product-tree1 .link a:hover {
  color: #fff;
  background-color: #000;
}
.product-banner img {
  width: 100%;
}

/* _______Footer______ */
footer {
  background-color: #aaaba9;
  padding: 50px 0px;
  padding-left: 100px;
  display: flex;
  gap: 300px;
  align-items: center;
}
footer .left p {
  color: #000;
  text-transform: uppercase;
  padding-bottom: 20px;
}
footer .left p:last-child {
  padding-bottom: 0;
}
footer .left p:hover,
footer .left li:hover {
  font-weight: 700;
}
footer .left-menu {
  padding-left: 20px;
  padding-bottom: 10px;
}
footer .left-menu p {
  padding-bottom: 10px;
}
footer .left-menu a {
  color: #000;
  font-size: 16px;
  line-height: 25.6px;
  text-transform: uppercase;
}
footer .right {
  display: flex;
  align-items: center;
  gap: 50px;
}
footer .right p {
  font-size: 16px;
  line-height: 25.6px;
}
footer .right-image {
  padding-bottom: 30px;
}
